@font-face {
  font-family: 'tripleperformance';
  src:  url('fonts/tripleperformance.eot?fx6lsu');
  src:  url('fonts/tripleperformance.eot?fx6lsu#iefix') format('embedded-opentype'),
    url('fonts/tripleperformance.ttf?fx6lsu') format('truetype'),
    url('fonts/tripleperformance.woff?fx6lsu') format('woff'),
    url('fonts/tripleperformance.svg?fx6lsu#tripleperformance') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="tp-"], [class*=" tp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tripleperformance' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tp-Icone-categorie-Cepage:before {
  content: "\eb72";
}
.tp-Icone-categorie-Arbre:before {
  content: "\eb71";
}
.tp-Icone-categorie-Auxiliaires:before {
  content: "\eb65";
}
.tp-Icone-categorie-Bioagresseur:before {
  content: "\eb66";
}
.tp-Icone-categorie-Cultures:before {
  content: "\eb67";
}
.tp-Icone-categorie-Formation:before {
  content: "\eb68";
}
.tp-Icone-categorie-Intrant:before {
  content: "\eb69";
}
.tp-Icone-categorie-Label:before {
  content: "\eb6a";
}
.tp-Icone-categorie-Livre:before {
  content: "\eb6b";
}
.tp-Icone-categorie-Machines:before {
  content: "\eb6c";
}
.tp-Icone-categorie-OAD:before {
  content: "\eb6d";
}
.tp-Icone-categorie-objectif:before {
  content: "\eb6e";
}
.tp-Icone-categorie-Pratiques:before {
  content: "\eb6f";
}
.tp-Icone-categorie-Retours-dexperience:before {
  content: "\eb70";
}
.tp-Aquaponie:before {
  content: "\eb73";
}
.tp-Hydroponie:before {
  content: "\eb74";
}
.tp-Tomate:before {
  content: "\e900";
}
.tp-Tournesol:before {
  content: "\e901";
}
.tp-Transformation-a-la-ferme-des-poulets-de-chair:before {
  content: "\e902";
}
.tp-Transformation-a-la-ferme-des-produits-du-lait-de-chevre:before {
  content: "\e903";
}
.tp-Transformation-a-la-ferme-des-produits-laitiers:before {
  content: "\e904";
}
.tp-Transformation-a-la-ferme-en-elevage-ovin-viande:before {
  content: "\e905";
}
.tp-Trefle:before {
  content: "\e906";
}
.tp-Type-Sol:before {
  content: "\e907";
}
.tp-UTH:before {
  content: "\e908";
}
.tp-Virus:before {
  content: "\e909";
}
.tp-Viticulture:before {
  content: "\e90a";
}
.tp-Vitiforesterie:before {
  content: "\e90b";
}
.tp-Wallonie:before {
  content: "\e90c";
}
.tp-Zone-vulnerable:before {
  content: "\e90d";
}
.tp-Desherbage:before {
  content: "\e90e";
}
.tp-Desherbage-chimique:before {
  content: "\e90f";
}
.tp-Desherbage-electrique:before {
  content: "\e910";
}
.tp-Desherbage-manuel:before {
  content: "\e911";
}
.tp-Desherbage-par-couverture:before {
  content: "\e912";
}
.tp-Desherbage-thermique:before {
  content: "\e913";
}
.tp-Ecophyto .path1:before {
  content: "\e914";
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path6:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path8:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path9:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path10:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path11:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path12:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path13:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path14:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path15:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path16:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path17:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path18:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path19:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path20:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path21:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path22:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path23:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path24:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path25:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path26:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path27:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path28:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path29:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path30:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path31:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path32:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path33:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path34:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path35:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path36:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path37:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path38:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path39:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path40:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path41:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 128, 200);
}
.tp-Ecophyto .path42:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 128, 200);
}
.tp-Ecophyto .path43:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(62, 179, 151);
}
.tp-Ecophyto .path44:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(62, 179, 151);
}
.tp-Ecophyto .path45:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(62, 179, 151);
}
.tp-Ecophyto .path46:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(62, 179, 151);
}
.tp-Ecophyto .path47:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(233, 76, 100);
}
.tp-Ecophyto .path48:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(212, 225, 220);
}
.tp-Ecophyto .path49:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(212, 225, 220);
}
.tp-Ecophyto .path50:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(212, 225, 220);
}
.tp-Ecophyto .path51:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 128, 200);
}
.tp-Ecophyto .path52:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 128, 200);
}
.tp-Ecophyto .path53:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path54:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path55:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path56:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Ecophyto .path57:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(144, 131, 138);
}
.tp-Elevage:before {
  content: "\e94d";
}
.tp-Elevage-bovin:before {
  content: "\e94e";
}
.tp-Elevage-bovin-viande:before {
  content: "\e94f";
}
.tp-Elevage-caprin:before {
  content: "\e950";
}
.tp-Elevage-equin:before {
  content: "\e951";
}
.tp-Elevage-et-agroforesterie:before {
  content: "\e952";
}
.tp-Elevage-ovin:before {
  content: "\e953";
}
.tp-Elevage-porcin:before {
  content: "\e954";
}
.tp-Endive:before {
  content: "\e955";
}
.tp-Epinards:before {
  content: "\e956";
}
.tp-ETA:before {
  content: "\e957";
}
.tp-Fenouil:before {
  content: "\e958";
}
.tp-Fenugrec:before {
  content: "\e959";
}
.tp-Fertilisation-ciblee:before {
  content: "\e95a";
}
.tp-Feverole:before {
  content: "\e95b";
}
.tp-Figue:before {
  content: "\e95c";
}
.tp-Flandre:before {
  content: "\e95d";
}
.tp-Fraise:before {
  content: "\e95e";
}
.tp-Framboise:before {
  content: "\e95f";
}
.tp-Fruits:before {
  content: "\e960";
}
.tp-Gestion-de-la-fertilite:before {
  content: "\e961";
}
.tp-Gestion-des-couverts-vegetaux:before {
  content: "\e962";
}
.tp-Ghana:before {
  content: "\e963";
}
.tp-Gombo:before {
  content: "\e964";
}
.tp-Goyave:before {
  content: "\e965";
}
.tp-Grandes-cultures:before {
  content: "\e966";
}
.tp-Grenade:before {
  content: "\e967";
}
.tp-Groseillier:before {
  content: "\e968";
}
.tp-Haricot:before {
  content: "\e969";
}
.tp-Heliciculture:before {
  content: "\e96a";
}
.tp-Hibiscus:before {
  content: "\e96b";
}
.tp-Horticulture-PPAM:before {
  content: "\e96c";
}
.tp-HVE .path1:before {
  content: "\e96d";
  color: rgb(255, 255, 255);
}
.tp-HVE .path2:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path3:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path4:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path5:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path6:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path7:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path8:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path9:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path10:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path11:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path12:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path13:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path14:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path15:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path16:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path17:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path18:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path19:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path20:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path21:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path22:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path23:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path24:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path25:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path26:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path27:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path28:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path29:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path30:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path31:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path32:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path33:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path34:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path35:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path36:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path37:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path38:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path39:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path40:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path41:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path42:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path43:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path44:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path45:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path46:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path47:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path48:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path49:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path50:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path51:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path52:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path53:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path54:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path55:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path56:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path57:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path58:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path59:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path60:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path61:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path62:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path63:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path64:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path65:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path66:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path67:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path68:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path69:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path70:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path71:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path72:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path73:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path74:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path75:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-HVE .path76:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Igname:before {
  content: "\e9b9";
}
.tp-Insectes:before {
  content: "\e9ba";
}
.tp-Installation:before {
  content: "\e9bb";
}
.tp-Irrigation:before {
  content: "\e9bc";
}
.tp-Irrigation-en-arboriculture:before {
  content: "\e9bd";
}
.tp-Irrigation-en-maraichage:before {
  content: "\e9be";
}
.tp-Itineraire-des-poules:before {
  content: "\e9bf";
}
.tp-Karite:before {
  content: "\e9c0";
}
.tp-Labels:before {
  content: "\e9c1";
}
.tp-Labour:before {
  content: "\e9c2";
}
.tp-Laitue:before {
  content: "\e9c3";
}
.tp-Lapin:before {
  content: "\e9c4";
}
.tp-Lentille:before {
  content: "\e9c5";
}
.tp-Les-cepages:before {
  content: "\e9c6";
}
.tp-Lin:before {
  content: "\e9c7";
}
.tp-Luzerne:before {
  content: "\e9c8";
}
.tp-Mais:before {
  content: "\e9c9";
}
.tp-Maladies-cryptogamiques:before {
  content: "\e9ca";
}
.tp-Mammiferes:before {
  content: "\e9cb";
}
.tp-Mangue:before {
  content: "\e9cc";
}
.tp-Manioc:before {
  content: "\e9cd";
}
.tp-Maraichage:before {
  content: "\e9ce";
}
.tp-Maraichage-bio-intensif:before {
  content: "\e9cf";
}
.tp-Mecanisation:before {
  content: "\e9d0";
}
.tp-Melon:before {
  content: "\e9d1";
}
.tp-Meteil:before {
  content: "\e9d2";
}
.tp-Methanisation:before {
  content: "\e9d3";
}
.tp-Millet:before {
  content: "\e9d4";
}
.tp-Miscanthus:before {
  content: "\e9d5";
}
.tp-Mollusques:before {
  content: "\e9d6";
}
.tp-More:before {
  content: "\e9d7";
}
.tp-Moutarde:before {
  content: "\e9d8";
}
.tp-Mycosylviculture:before {
  content: "\e9d9";
}
.tp-Navet:before {
  content: "\e9da";
}
.tp-Nematodes:before {
  content: "\e9db";
}
.tp-Nere:before {
  content: "\e9dc";
}
.tp-Niebe:before {
  content: "\e9dd";
}
.tp-Noix:before {
  content: "\e9de";
}
.tp-Noix-de-cajou:before {
  content: "\e9df";
}
.tp-Noix-de-coco:before {
  content: "\e9e0";
}
.tp-Non-irrigue:before {
  content: "\e9e1";
}
.tp-Non-labour:before {
  content: "\e9e2";
}
.tp-Nutrition-des-bovins:before {
  content: "\e9e3";
}
.tp-Nutrition-des-brebis-laitieres:before {
  content: "\e9e4";
}
.tp-Nutrition-des-poules:before {
  content: "\e9e5";
}
.tp-Oignon:before {
  content: "\e9e6";
}
.tp-Oignon-1:before {
  content: "\e9e7";
}
.tp-Oiseaux:before {
  content: "\e9e8";
}
.tp-Olives:before {
  content: "\e9e9";
}
.tp-Orange:before {
  content: "\e9ea";
}
.tp-Other:before {
  content: "\e9eb";
}
.tp-Pamplemousse:before {
  content: "\e9ec";
}
.tp-Papaye:before {
  content: "\e9ed";
}
.tp-Partenariat:before {
  content: "\e9ee";
}
.tp-Pasteque:before {
  content: "\e9ef";
}
.tp-Patate-douce:before {
  content: "\e9f0";
}
.tp-Paturage-tournant-dynamique:before {
  content: "\e9f1";
}
.tp-PBI:before {
  content: "\e9f2";
}
.tp-Peche:before {
  content: "\e9f3";
}
.tp-Permaculture:before {
  content: "\e9f4";
}
.tp-Petit-pois:before {
  content: "\e9f5";
}
.tp-PFI:before {
  content: "\e9f6";
}
.tp-PH-5:before {
  content: "\e9f7";
}
.tp-PH-65:before {
  content: "\e9f8";
}
.tp-PH-75:before {
  content: "\e9f9";
}
.tp-PH-7:before {
  content: "\e9fa";
}
.tp-Piment:before {
  content: "\e9fb";
}
.tp-Pistache:before {
  content: "\e9fc";
}
.tp-Planification:before {
  content: "\e9fd";
}
.tp-Plantation-en-arboriculture:before {
  content: "\e9fe";
}
.tp-Plantation-en-viticulture:before {
  content: "\e9ff";
}
.tp-Poire:before {
  content: "\ea00";
}
.tp-Poireau:before {
  content: "\ea01";
}
.tp-Pois-chiche:before {
  content: "\ea02";
}
.tp-Poivron:before {
  content: "\ea03";
}
.tp-Polyculture:before {
  content: "\ea04";
}
.tp-Polyculture-elevage:before {
  content: "\ea05";
}
.tp-Pomme:before {
  content: "\ea06";
}
.tp-Pomme-cannelle:before {
  content: "\ea07";
}
.tp-Pomme-de-terre:before {
  content: "\ea08";
}
.tp-Pre-verger:before {
  content: "\ea09";
}
.tp-Protection-des-cultures:before {
  content: "\ea0a";
}
.tp-Protection-en-arboriculture:before {
  content: "\ea0b";
}
.tp-Protection-en-viticulture:before {
  content: "\ea0c";
}
.tp-Protection-integree-des-cultures-PIC:before {
  content: "\ea0d";
}
.tp-Prune:before {
  content: "\ea0e";
}
.tp-Quinoa:before {
  content: "\ea0f";
}
.tp-Radis:before {
  content: "\ea10";
}
.tp-Ray-grass:before {
  content: "\ea11";
}
.tp-Remise-en-vie-des-sols:before {
  content: "\ea12";
}
.tp-Reproduction-des-bovins:before {
  content: "\ea13";
}
.tp-Reproduction-des-brebis-lait:before {
  content: "\ea14";
}
.tp-Reproduction-des-caprins:before {
  content: "\ea15";
}
.tp-Riz:before {
  content: "\ea16";
}
.tp-Romarin:before {
  content: "\ea17";
}
.tp-Rongeurs:before {
  content: "\ea18";
}
.tp-Rotations:before {
  content: "\ea19";
}
.tp-Sante-des-bovins:before {
  content: "\ea1a";
}
.tp-Sante-des-elevages-ovins:before {
  content: "\ea1b";
}
.tp-Sante-des-poules:before {
  content: "\ea1c";
}
.tp-Sarrasin:before {
  content: "\ea1d";
}
.tp-SAU:before {
  content: "\ea1e";
}
.tp-SDSC:before {
  content: "\ea1f";
}
.tp-Semis-Direct:before {
  content: "\ea20";
}
.tp-Senegal:before {
  content: "\ea21";
}
.tp-Soja:before {
  content: "\ea22";
}
.tp-Sorgho:before {
  content: "\ea23";
}
.tp-SQ1 .path1:before {
  content: "\ea24";
  color: rgb(5, 157, 76);
}
.tp-SQ1 .path2:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(140, 195, 64);
}
.tp-SQ1 .path3:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(251, 221, 0);
}
.tp-SQ1 .path4:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(247, 152, 55);
}
.tp-SQ1 .path5:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(189, 35, 39);
}
.tp-SQ1 .path6:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(61, 35, 18);
}
.tp-SQ1 .path7:before {
  content: "\ea2a";
  margin-left: -1em;
  color: rgb(90, 64, 27);
}
.tp-SQ1 .path8:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(90, 96, 111);
}
.tp-SQ1 .path9:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ1 .path10:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ1 .path11:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ1 .path12:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ1 .path13:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path14:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path15:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path16:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path17:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path18:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path19:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path20:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path21:before {
  content: "\ea38";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path22:before {
  content: "\ea39";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ1 .path23:before {
  content: "\ea3a";
  margin-left: -1em;
  color: rgb(108, 110, 114);
}
.tp-SQ2 .path1:before {
  content: "\ea3b";
  color: rgb(5, 157, 76);
}
.tp-SQ2 .path2:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(140, 195, 64);
}
.tp-SQ2 .path3:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(251, 221, 0);
}
.tp-SQ2 .path4:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(247, 152, 55);
}
.tp-SQ2 .path5:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(189, 35, 39);
}
.tp-SQ2 .path6:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(61, 35, 18);
}
.tp-SQ2 .path7:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(90, 64, 27);
}
.tp-SQ2 .path8:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(90, 96, 111);
}
.tp-SQ2 .path9:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ2 .path10:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ2 .path11:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ2 .path12:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ2 .path13:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path14:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path15:before {
  content: "\ea49";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path16:before {
  content: "\ea4a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path17:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path18:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path19:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path20:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path21:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ2 .path22:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(108, 110, 114);
}
.tp-SQ3 .path1:before {
  content: "\ea51";
  color: rgb(5, 157, 76);
}
.tp-SQ3 .path2:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(140, 195, 64);
}
.tp-SQ3 .path3:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(251, 221, 0);
}
.tp-SQ3 .path4:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(247, 152, 55);
}
.tp-SQ3 .path5:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(189, 35, 39);
}
.tp-SQ3 .path6:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(61, 35, 18);
}
.tp-SQ3 .path7:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(90, 64, 27);
}
.tp-SQ3 .path8:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(90, 96, 111);
}
.tp-SQ3 .path9:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ3 .path10:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ3 .path11:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ3 .path12:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ3 .path13:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path14:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path15:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path16:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path17:before {
  content: "\ea61";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path18:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path19:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path20:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ3 .path21:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(108, 110, 114);
}
.tp-SQ4 .path1:before {
  content: "\ea66";
  color: rgb(5, 157, 76);
}
.tp-SQ4 .path2:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(140, 195, 64);
}
.tp-SQ4 .path3:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(251, 221, 0);
}
.tp-SQ4 .path4:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(247, 152, 55);
}
.tp-SQ4 .path5:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(189, 35, 39);
}
.tp-SQ4 .path6:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(61, 35, 18);
}
.tp-SQ4 .path7:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(90, 64, 27);
}
.tp-SQ4 .path8:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(90, 96, 111);
}
.tp-SQ4 .path9:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ4 .path10:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ4 .path11:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ4 .path12:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ4 .path13:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path14:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path15:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path16:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path17:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path18:before {
  content: "\ea77";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path19:before {
  content: "\ea78";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path20:before {
  content: "\ea79";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path21:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path22:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ4 .path23:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(108, 110, 114);
}
.tp-SQ5 .path1:before {
  content: "\ea7d";
  color: rgb(5, 157, 76);
}
.tp-SQ5 .path2:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(140, 195, 64);
}
.tp-SQ5 .path3:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(251, 221, 0);
}
.tp-SQ5 .path4:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(247, 152, 55);
}
.tp-SQ5 .path5:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(189, 35, 39);
}
.tp-SQ5 .path6:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(61, 35, 18);
}
.tp-SQ5 .path7:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(105, 82, 48);
}
.tp-SQ5 .path8:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(90, 96, 111);
}
.tp-SQ5 .path9:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ5 .path10:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ5 .path11:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(131, 136, 147);
}
.tp-SQ5 .path12:before {
  content: "\ea88";
  margin-left: -1em;
  color: rgb(214, 215, 219);
}
.tp-SQ5 .path13:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path14:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path15:before {
  content: "\ea8b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path16:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path17:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path18:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path19:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path20:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path21:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path22:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path23:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path24:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path25:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path26:before {
  content: "\ea96";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-SQ5 .path27:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(108, 110, 114);
}
.tp-Strategie-dinvestissements:before {
  content: "\ea98";
}
.tp-Sylviculture:before {
  content: "\ea99";
}
.tp-Sylvopastoralisme:before {
  content: "\ea9a";
}
.tp-Systemes-et-choix-des-especes:before {
  content: "\ea9b";
}
.tp-Taille:before {
  content: "\ea9c";
}
.tp-TCS:before {
  content: "\ea9d";
}
.tp-Abricot:before {
  content: "\ea9e";
}
.tp-Acariens:before {
  content: "\ea9f";
}
.tp-ACS:before {
  content: "\eaa0";
}
.tp-Adventices:before {
  content: "\eaa1";
}
.tp-Agriculture-bio:before {
  content: "\eaa2";
}
.tp-Agriculture-conventionnelle:before {
  content: "\eaa3";
}
.tp-Agriculture-de-precision:before {
  content: "\eaa4";
}
.tp-Agriculture-hors-sol:before {
  content: "\eaa5";
}
.tp-Agriculture-integree:before {
  content: "\eaa6";
}
.tp-Agriculture-raisonnee:before {
  content: "\eaa7";
}
.tp-Agrivoltaisme:before {
  content: "\eaa8";
}
.tp-Agroforesterie:before {
  content: "\eaa9";
}
.tp-Agroforesterie-GC:before {
  content: "\eaaa";
}
.tp-Agroforesterie-Maraichage:before {
  content: "\eaab";
}
.tp-Ail:before {
  content: "\eaac";
}
.tp-Amande:before {
  content: "\eaad";
}
.tp-Amarante:before {
  content: "\eaae";
}
.tp-Aneth:before {
  content: "\eaaf";
}
.tp-Apiculture:before {
  content: "\eab0";
}
.tp-Approche-redox:before {
  content: "\eab1";
}
.tp-Arachide:before {
  content: "\eab2";
}
.tp-Arboriculture:before {
  content: "\eab3";
}
.tp-Artichaut:before {
  content: "\eab4";
}
.tp-Association-de-culture:before {
  content: "\eab5";
}
.tp-Aubergine:before {
  content: "\eab6";
}
.tp-Auto-fertilite-du-sol:before {
  content: "\eab7";
}
.tp-Autonomie-en-MO:before {
  content: "\eab8";
}
.tp-Autonomie-en-proteines:before {
  content: "\eab9";
}
.tp-Aviculture:before {
  content: "\eaba";
}
.tp-Aviculture-oeufs:before {
  content: "\eabb";
}
.tp-Bacteries:before {
  content: "\eabc";
}
.tp-Bambou:before {
  content: "\eabd";
}
.tp-Banane:before {
  content: "\eabe";
}
.tp-Basilique:before {
  content: "\eabf";
}
.tp-Batiments-delevage:before {
  content: "\eac0";
}
.tp-Benin:before {
  content: "\eac1";
}
.tp-Betterave:before {
  content: "\eac2";
}
.tp-Biodiversite:before {
  content: "\eac3";
}
.tp-Biodynamie-Demeter .path1:before {
  content: "\eac4";
  color: rgb(133, 153, 201);
}
.tp-Biodynamie-Demeter .path2:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path3:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tp-Biodynamie-Demeter .path4:before {
  content: "\eac7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tp-Biodynamie-Demeter .path5:before {
  content: "\eac8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tp-Biodynamie-Demeter .path6:before {
  content: "\eac9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tp-Biodynamie-Demeter .path7:before {
  content: "\eaca";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tp-Biodynamie-Demeter .path8:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tp-Biodynamie-Demeter .path9:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.tp-Biodynamie-Demeter .path10:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path11:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path12:before {
  content: "\eacf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path13:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path14:before {
  content: "\ead1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path15:before {
  content: "\ead2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path16:before {
  content: "\ead3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path17:before {
  content: "\ead4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path18:before {
  content: "\ead5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path19:before {
  content: "\ead6";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path20:before {
  content: "\ead7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path21:before {
  content: "\ead8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path22:before {
  content: "\ead9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path23:before {
  content: "\eada";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path24:before {
  content: "\eadb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path25:before {
  content: "\eadc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path26:before {
  content: "\eadd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path27:before {
  content: "\eade";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path28:before {
  content: "\eadf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path29:before {
  content: "\eae0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path30:before {
  content: "\eae1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path31:before {
  content: "\eae2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Biodynamie-Demeter .path32:before {
  content: "\eae3";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.tp-Bromes:before {
  content: "\eae4";
}
.tp-Cacao:before {
  content: "\eae5";
}
.tp-Cahier-des-charges:before {
  content: "\eae6";
}
.tp-Canard:before {
  content: "\eae7";
}
.tp-Canne-a-sucre:before {
  content: "\eae8";
}
.tp-Carotte:before {
  content: "\eae9";
}
.tp-Cassis:before {
  content: "\eaea";
}
.tp-Cereales:before {
  content: "\eaeb";
}
.tp-Cerise:before {
  content: "\eaec";
}
.tp-Chataigne:before {
  content: "\eaed";
}
.tp-Chia:before {
  content: "\eaee";
}
.tp-Chou:before {
  content: "\eaef";
}
.tp-Choux:before {
  content: "\eaf0";
}
.tp-Ciboulette:before {
  content: "\eaf1";
}
.tp-Circuit-court:before {
  content: "\eaf2";
}
.tp-Citron:before {
  content: "\eaf3";
}
.tp-Citronnelle:before {
  content: "\eaf4";
}
.tp-Colza:before {
  content: "\eaf5";
}
.tp-Compaction:before {
  content: "\eaf6";
}
.tp-Concombre:before {
  content: "\eaf7";
}
.tp-Conventionnelle:before {
  content: "\eaf8";
}
.tp-Coriandre:before {
  content: "\eaf9";
}
.tp-Corossol:before {
  content: "\eafa";
}
.tp-Courge:before {
  content: "\eafb";
}
.tp-Couverts-permanents:before {
  content: "\eafc";
}
.tp-Couverts-vegetaux:before {
  content: "\eafd";
}
.tp-Cultures-fourrageres:before {
  content: "\eafe";
}
.tp-Culture-sous-abri:before {
  content: "\eaff";
}
.tp-Cultures-tropicales:before {
  content: "\eb00";
}
.tp-Departement-971:before {
  content: "\eb75";
}
.tp-Departement-01:before {
  content: "\eb01";
}
.tp-Departement-02:before {
  content: "\eb02";
}
.tp-Departement-2A:before {
  content: "\eb03";
}
.tp-Departement-2B:before {
  content: "\eb04";
}
.tp-Departement-03:before {
  content: "\eb05";
}
.tp-Departement-04:before {
  content: "\eb06";
}
.tp-Departement-05:before {
  content: "\eb07";
}
.tp-Departement-06:before {
  content: "\eb08";
}
.tp-Departement-07:before {
  content: "\eb09";
}
.tp-Departement-08:before {
  content: "\eb0a";
}
.tp-Departement-09:before {
  content: "\eb0b";
}
.tp-Departement-10:before {
  content: "\eb0c";
}
.tp-Departement-11:before {
  content: "\eb0d";
}
.tp-Departement-12:before {
  content: "\eb0e";
}
.tp-Departement-13:before {
  content: "\eb0f";
}
.tp-Departement-14:before {
  content: "\eb10";
}
.tp-Departement-15:before {
  content: "\eb11";
}
.tp-Departement-16:before {
  content: "\eb12";
}
.tp-Departement-17:before {
  content: "\eb13";
}
.tp-Departement-18:before {
  content: "\eb14";
}
.tp-Departement-19:before {
  content: "\eb15";
}
.tp-Departement-21:before {
  content: "\eb16";
}
.tp-Departement-22:before {
  content: "\eb17";
}
.tp-Departement-23:before {
  content: "\eb18";
}
.tp-Departement-24:before {
  content: "\eb19";
}
.tp-Departement-25:before {
  content: "\eb1a";
}
.tp-Departement-26:before {
  content: "\eb1b";
}
.tp-Departement-27:before {
  content: "\eb1c";
}
.tp-Departement-28:before {
  content: "\eb1d";
}
.tp-Departement-29:before {
  content: "\eb1e";
}
.tp-Departement-30:before {
  content: "\eb1f";
}
.tp-Departement-31:before {
  content: "\eb20";
}
.tp-Departement-32:before {
  content: "\eb21";
}
.tp-Departement-33:before {
  content: "\eb22";
}
.tp-Departement-34:before {
  content: "\eb23";
}
.tp-Departement-35:before {
  content: "\eb24";
}
.tp-Departement-36:before {
  content: "\eb25";
}
.tp-Departement-37:before {
  content: "\eb26";
}
.tp-Departement-38:before {
  content: "\eb27";
}
.tp-Departement-39:before {
  content: "\eb28";
}
.tp-Departement-40:before {
  content: "\eb29";
}
.tp-Departement-41:before {
  content: "\eb2a";
}
.tp-Departement-42:before {
  content: "\eb2b";
}
.tp-Departement-43:before {
  content: "\eb2c";
}
.tp-Departement-44:before {
  content: "\eb2d";
}
.tp-Departement-45:before {
  content: "\eb2e";
}
.tp-Departement-46:before {
  content: "\eb2f";
}
.tp-Departement-47:before {
  content: "\eb30";
}
.tp-Departement-48:before {
  content: "\eb31";
}
.tp-Departement-49:before {
  content: "\eb32";
}
.tp-Departement-50:before {
  content: "\eb33";
}
.tp-Departement-51:before {
  content: "\eb34";
}
.tp-Departement-52:before {
  content: "\eb35";
}
.tp-Departement-53:before {
  content: "\eb36";
}
.tp-Departement-54:before {
  content: "\eb37";
}
.tp-Departement-55:before {
  content: "\eb38";
}
.tp-Departement-56:before {
  content: "\eb39";
}
.tp-Departement-57:before {
  content: "\eb3a";
}
.tp-Departement-58:before {
  content: "\eb3b";
}
.tp-Departement-59:before {
  content: "\eb3c";
}
.tp-Departement-60:before {
  content: "\eb3d";
}
.tp-Departement-61:before {
  content: "\eb3e";
}
.tp-Departement-62:before {
  content: "\eb3f";
}
.tp-Departement-63:before {
  content: "\eb40";
}
.tp-Departement-64:before {
  content: "\eb41";
}
.tp-Departement-65:before {
  content: "\eb42";
}
.tp-Departement-66:before {
  content: "\eb43";
}
.tp-Departement-67:before {
  content: "\eb44";
}
.tp-Departement-68:before {
  content: "\eb45";
}
.tp-Departement-69:before {
  content: "\eb46";
}
.tp-Departement-70:before {
  content: "\eb47";
}
.tp-Departement-71:before {
  content: "\eb48";
}
.tp-Departement-72:before {
  content: "\eb49";
}
.tp-Departement-73:before {
  content: "\eb4a";
}
.tp-Departement-74:before {
  content: "\eb4b";
}
.tp-Departement-75:before {
  content: "\eb4c";
}
.tp-Departement-76:before {
  content: "\eb4d";
}
.tp-Departement-77:before {
  content: "\eb4e";
}
.tp-Departement-78:before {
  content: "\eb4f";
}
.tp-Departement-79:before {
  content: "\eb50";
}
.tp-Departement-80:before {
  content: "\eb51";
}
.tp-Departement-81:before {
  content: "\eb52";
}
.tp-Departement-82:before {
  content: "\eb53";
}
.tp-Departement-83:before {
  content: "\eb54";
}
.tp-Departement-84:before {
  content: "\eb55";
}
.tp-Departement-85:before {
  content: "\eb56";
}
.tp-Departement-86:before {
  content: "\eb57";
}
.tp-Departement-87:before {
  content: "\eb58";
}
.tp-Departement-88:before {
  content: "\eb59";
}
.tp-Departement-89:before {
  content: "\eb5a";
}
.tp-Departement-90:before {
  content: "\eb5b";
}
.tp-Departement-91:before {
  content: "\eb5c";
}
.tp-Departement-92:before {
  content: "\eb5d";
}
.tp-Departement-93:before {
  content: "\eb5e";
}
.tp-Departement-94:before {
  content: "\eb5f";
}
.tp-Departement-95:before {
  content: "\eb60";
}
.tp-Departement-972:before {
  content: "\eb61";
}
.tp-Departement-973:before {
  content: "\eb62";
}
.tp-Departement-974:before {
  content: "\eb63";
}
.tp-Departement-976:before {
  content: "\eb64";
}
